
streamlit
python-dotenv
ipykernel
validators==0.28.1
pandas
duckdb
numexpr
torch


langchain==0.1.16
langchain-community==0.0.26
langchain-openai==0.0.8
langchain-groq==0.0.2
langchain-huggingface==0.0.3
langchain-chroma==0.0.3
langchain-text-splitters==0.0.1


chromadb==0.4.24
faiss-cpu==1.7.4

sentence-transformers==2.2.2
transformers==4.34.0
huggingface_hub==0.20.2


beautifulsoup4
bs4
pypdf
pymupdf
arxiv
wikipedia
youtube_transcript_api
unstructured
pytube


openai==1.13.3
mysql-connector-python
SQLAlchemy


fastapi
uvicorn
flask
gunicorn


duckduckgo-search

pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
flask
gunicorn
sentence-transformers
transformers==4.34.0
fastapi
uvicorn
torch
